*            text=auto

*.sln        text eol=crlf
*.csproj     text eol=crlf
*.vcxproj    text eol=crlf
*.filters    text eol=crlf

#*.sln       merge=binary
#*.csproj    merge=binary
#*.vcxproj   merge=binary
#*.filters   merge=binary