[submodule "sadx-mod-loader"]
	path = external/sadx-mod-loader
	url = https://github.com/X-Hax/sadx-mod-loader
[submodule "external/enet"]
	path = external/enet
	url = https://github.com/lsalzman/enet
